DOUBAO_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBAO_API_KEY=
DOUBAO_ENDPOINT=
SEEDREAM_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
SEEDREAM_MODEL_ID=
SEEDREAM_API_KEY=
SEEDREAM_4_0_MODEL_ID=
SEEDREAM_4_0_API_KEY=
SEEDREAM_4_5_MODEL_ID=
SEEDREAM_4_5_API_KEY=
SEEDREAM_5_0_MODEL_ID=
SEEDREAM_5_0_API_KEY=
SEEDANCE_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
SEEDANCE_1_5_MODEL_ID=doubao-seedance-1-5-pro-251215
SEEDANCE_1_5_API_KEY=
SEEDANCE_1_0_PRO_FAST_MODEL_ID=doubao-seedance-1-0-pro-fast-251015
SEEDANCE_1_0_PRO_FAST_API_KEY=
