DOUBAO_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBAO_API_KEY=
DOUBAO_ENDPOINT=
SEEDREAM_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
SEEDREAM_MODEL_ID=
SEEDREAM_API_KEY=
SEEDREAM_4_0_MODEL_ID=
SEEDREAM_4_0_API_KEY=
SEEDREAM_4_5_MODEL_ID=
SEEDREAM_4_5_API_KEY=
SEEDREAM_5_0_MODEL_ID=
SEEDREAM_5_0_API_KEY=
